@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<img src="~/images/logo.svg" alt="Steelers Logo" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" />

<h2>About</h2>

<p>This website is dedicated to exploring the history of the Pittsburgh Steelers, from the franchise's beginning to modern day.</p>

<p>@Model.Message</p>

<img src="~/images/AcrisureStadium.jpg" alt="Acrisure Stadium" style="width: 100%; max-width: 1000px; display: block; margin-left: auto; margin-right: auto;" />
