@page
@model IndexModel
@{
    ViewData["Title"] = "Ryan's Pittsburgh Steelers History Page";
}

<div class="text-center">
    <h1 class="display-4">The Beginning</h1>
    <h1 class="display-4">The Steel Curtain</h1>
    <h1 class="display-4" >The Drought</h1>
    <h1 class="display-4">The Steel Curtain II</h1>
    <h1 class="display-4">The Drought II</h1>
    <p>This is my first Webapp</a>.</p>
</div>
<body>
    <h1></h1>
</body>