@page
@model SteelersModel
@{
    ViewData["Title"] = "The Standard is the Standard, obviously - Mike Tomlin";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
